*.log

pids
logs
results
tmp

# Dependency directory
node_modules
bower_components

# OS metadata
.DS_Store

# Ignore built ts files
dist/**/*
out/**/*

# a lil bit of scaffolding to get us started here..
src/config.ts

.vscode/*